@import "variables";

.button {
  border: none;
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 25px;
  background-color: $dark-blue;
  font-weight: 700;
  color: $pale-blue;
  font-size: .8rem;
}

.button:hover {
  background: $bgcolor1;
  background: linear-gradient(0deg, $bgcolor2 0%, $bgcolor1 100%);
  cursor: pointer;
}