@import "variables";


.summary {
  width: 350px;
  padding: 30px;
}

.sum_title {
  font-size: 1.2rem;
  margin: 0 0 30px 0;
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: $red;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 15px;
  margin-bottom: 20px;

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    color: $lavender;
    margin-left: auto;
    span {
      color: $dark-blue;
      font-weight: 700;
    }
  }
}

#memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: $orange;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 15px;
  margin-bottom: 20px;

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    color: $lavender;
    margin-left: auto;
    span {
      color: $dark-blue;
      font-weight: 700;
    }
  }
}

#verbal {
  background-color: hsl(166, 100%, 37%, 0.1);
  color: $green;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 15px;
  margin-bottom: 20px;

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    color: $lavender;
    margin-left: auto;
    span {
      color: $dark-blue;
      font-weight: 700;
    }
  }
}

#visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: $blue;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 15px;
  margin-bottom: 20px;

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    color: $lavender;
    margin-left: auto;
    span {
      color: $dark-blue;
      font-weight: 700;
    }
  }
}
