$red: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

// Gradient background

$bgcolor1: #7857ff;
$bgcolor2: #2e2be9;

// Gradient circle

$circlecolor1: hsla(256, 72%, 46%, 1);
$circlecolor2: hsla(241, 72%, 46%, 0);

// Secondary

$pale-blue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$dark-blue: hsl(224, 30%, 27%);